Email relaying opportunistic encryption technologies

While most of us agree that [PGP](https://en.wikipedia.org/wiki/Pretty_Good_Privacy) is the best way secure the contents of email, this sometimes is not possible and [opportunistic TLS](https://en.wikipedia.org/wiki/Opportunistic_TLS#Weaknesses_and_mitigations) is still required to secure collection of email metadata when it is being relayed.

I think with our [email table](https://www.privacytools.io/#email) we should reward and try to motivate email providers (approach them) to adopt technologies which help secure transparently encryption between email servers and prevent downgrade attacks such as [SPF](https://en.wikipedia.org/wiki/Sender_Policy_Framework), [DKIM](https://en.wikipedia.org/wiki/DKIM), [DMARC](https://en.wikipedia.org/wiki/DMARC), [DNSSEC](https://en.wikipedia.org/wiki/Domain_Name_System_Security_Extensions), [DANE](https://en.wikipedia.org/wiki/DNS-based_Authentication_of_Named_Entities), [MTA-STS RFC 8461 (September 2018)](https://tools.ietf.org/html/rfc8461) and [SMTP TLS Reporting RFC 8460 (September 2018)](https://tools.ietf.org/html/rfc8460). We could reward them with a "gold, silver and bronze" star for adopting these technologies. For example for a Gold star everything would need to be supported (including both DANE and MTA-STS), we would have to determine the exact criteria still.

We should ultimately be encouraging these providers to join the [StartTLS-Everywhere PolicyList](https://starttls-everywhere.org/policy-list) run by the EFF. See their [FAQ](https://starttls-everywhere.org/faq) for more details.

**Encryption Testing**
- https://www.hardenize.com - this one is really comprehensive
- https://starttls-everywhere.org
- https://ssl-tools.net/mailservers
- https://aykevl.nl/apps/mta-sts
- https://testssl.sh `testssl.sh --starttls smtp example.com | aha --black --title "(smtp)
example.com:587" > smtp.example.com.html`
- `nmap --script ssl-enum-ciphers -p 465 example.com`

**SPF/DKIM/DMARC**
- https://www.mail-tester.com (SPF/DKIM/DMARC)
- https://www.mail-tester.com/spf-dkim-check

**Some background:**
- https://www.netnod.se/sites/default/files/2016-12/Anders_Berggren_can_haz_secure_mail.pdf
- https://www.internetsociety.org/blog/2014/09/email-hijacking-new-research-shows-why-we-need-dnssec-now
- https://www.sidn.nl/a/dnssec/starttls-and-dane-may-be-made-mandatory-for-outgoing-mail-as-well
- https://fastmail.blog/2016/12/20/dnssec-dane
- https://www.hardenize.com/blog/mta-sts
- https://www.hardenize.com/blog/smtp-tls-reporting-tls-rpt
- https://fastmail.blog/2018/06/27/lets-starttls-everywhere
- https://halon.io/blog/gmails-new-tls-icon/
- https://blog.google/products/gmail/making-email-safer-for-you-posted-by/
- https://www.fastmail.com/help/technical/senderauthentication.html

**Why you should use DANE and MTA-STS**
- https://news.ycombinator.com/item?id=18097564
- https://uhxy.com/technology/2018/01/21/DANE-vs-MTA-STS.html

**Some Initial tests**
https://www.hardenize.com/report/mailbox.org/1542685973
https://www.hardenize.com/report/protonmail.com/1542685980
https://www.hardenize.com/report/tutanota.com/1542685984
https://www.hardenize.com/report/disroot.org/1542685841
https://www.hardenize.com/report/posteo.de/1542685991
https://www.hardenize.com/report/mailfence.com/1542685995
https://www.hardenize.com/report/runbox.com/1542685998
https://www.hardenize.com/report/startmail.com/1542686000
https://www.hardenize.com/report/kolabnow.com/1542685876
https://www.hardenize.com/report/neomailbox.com/1548419015

Good idea.

> We could reward them with a "gold, silver and bronze" star for adopting these technologies.

The names could be something like "Great security", "Very good security", and "Good security". I suggest adding a reason behind each badge/star, explaining what's good/bad. Similar to how the `*` is used [here](https://www.privacytools.io/#kdl), but we'd use numbers.

I think the preliminary categories will be and will be based on, domain security, SMTP encryption and authentication.

I have decided I think we should only have two categories, Good and Very Good. Something with 'poor' security should never be recommended and therefore should be removed.

Very good security requires:
Domain Security:
 - [DNSSEC](https://en.wikipedia.org/wiki/Domain_Name_System_Security_Extensions)
 - [DNS Certification Authority Authorization (CAA) Resource Record RFC844](https://tools.ietf.org/html/rfc6844]

SMTP:
 - [TLS](https://en.wikipedia.org/wiki/Opportunistic_TLS)
 - Certificates - No errors
 - [MTA-STS](https://tools.ietf.org/html/rfc8461]
 - [TLS-RPT](https://tools.ietf.org/html/rfc8460]
 - [DANE](https://en.wikipedia.org/wiki/DNS-based_Authentication_of_Named_Entities]

Authentication and Policy
No errors for the following:

- [SPF](https://en.wikipedia.org/wiki/Sender_Policy_Framework)
- [DKIM](https://en.wikipedia.org/wiki/DomainKeys_Identified_Mail)
- [DMARC](https://en.wikipedia.org/wiki/DMARC) (requires DKIM and SPF)

Is on the [StartTLS-Everywhere Policy List](https://starttls-everywhere.org/policy-list]

* Medium
Not all providers want to do DNSSEC and there has been some argument that MTA-STS, TLS-RPT will mean they do not have to. Ideally they should do both.

We should grant a status of Medium if they have either DANE (requires DNSSEC) or MTA-STS as long as other conditions are also met.

Must have either CAA or DNSSEC.

Required:

Domain Security:
- [DNSSEC](https://en.wikipedia.org/wiki/Domain_Name_System_Security_Extensions) either CAA
- [DNS Certification Authority Authorization (CAA) Resource Record RFC844](https://tools.ietf.org/html/rfc6844] or DNSSEC

SMTP:
 - [TLS](https://en.wikipedia.org/wiki/Opportunistic_TLS)
 - Certificates - No errors
 - [MTA-STS](https://tools.ietf.org/html/rfc8461] - either this or DANE
 - [TLS-RPT](https://tools.ietf.org/html/rfc8460] - either this or DANE
 - [DANE](https://en.wikipedia.org/wiki/DNS-based_Authentication_of_Named_Entities] - either this or MTA-STS+TLS-RPT

No errors for the following:
- [SPF](https://en.wikipedia.org/wiki/Sender_Policy_Framework)
- [DKIM](https://en.wikipedia.org/wiki/DomainKeys_Identified_Mail)
- [DMARC](https://en.wikipedia.org/wiki/DMARC) (requires DKIM and SPF)

* To be removed

No domain control
- DNSSEC or
- CAA

No encryption
- Opportunistic TLS failed

Other Warnings
- Poor or bad cipher suites (SSLv2, SSLv3) etc


We should also encourage them to make sure they have no errors on their WWW related to security ie;
- Certificates (any errors about hostnames, or bad chain etc)
- TLS (eg PFS)
- DANE (any errors)
- Mixed Content (not everything over HTTPS)
- HSTS (Strict Transport Security)
- CSP (Content Security Policy)
- SRI (Subresource Integrity)

Application Security
- Frame Options
- XSS Protection
- Content Type Options

> We can remove some but either way the ratings should be something like Good/Very good/Great as to not sound like we're recommending shitty providers.

I might change it to "Good" and "Great" the "Providers to be Removed" list well those things I don't think are really negotiable. I shall wait to see what their input is on that.

I don't believe this issue should be hurried as it may take time for them to implement some of these things. They also may already have a timeline on when they want to implement some of these things.

> Out of the providers we recommend I only use ProtonMail, so I don't know if we do this already, but we should only recommend providers with client-side encryption. Simply having SMTP TLS while claiming to encrypt things on the backend isn't good enough.

This is true and what I am hoping is that the providers realize that they are being compared against each other.

The unfortunate fact is PGP is really only good for protecting the contents of an email. Client-side encryption isn't always possible either and will often be disabled by users in a pragmatic world. 

Opportunistic TLS is the only way to protect the metadata which user is sending emails to whom (PGP doesn't encrypt that).

In the coming days I shall be reaching out to each one of the providers to get their thoughts on it. I am sure that privacytools.io has driven some customers towards them I am interested in their plans.

I have also asked Hardenize for a list of domains to whitelist so that some of the providers that are currently rate limiting can whitelist those domains.

> There are two sides of the argument as well, regarding client-side encryption. Some say that JavaScript client-side encryption enhances the surface area hugely and a provider could serve you a faulty JavaScript applet which in turn sends them back an un-encrypted copy.

True. Only a locally stored app, built from/hashchecked with a peer reviewed source would solve this.

There are many providers which are outside US and support SMTP TLS. I think the best metric to look at is implementation/willingness to implement more security features.

Another thing that I think we will add to the list is while not related to relaying I think is still **very** important the connection from the client to the MTA is just as important. We should encourage providers who provide STARTTLS only to support [Cleartext Considered Obsolete: Use of Transport Layer Security (TLS) for Email Submission and Access RFC 8314 - January 2018](https://datatracker.ietf.org/doc/html/rfc8314).

Essentially port 25 being plain text SMTP, and 465 was supposed to be for [SMTPS](https://en.wikipedia.org/wiki/SMTPS) (explicit SSL/TLS). Anyway back in 1998 they decided to revoke that and go with STARTTLS on 587 which of course is susceptible to downgrade attacks.

Since then though providers like Gmail and others still did SMTPS on 465 despite IANA re-assigning the port. Now that [RFC 8314](https://tools.ietf.org/html/rfc8314) exists port 465 should be offered for SMTPS.

I observed 3 categories of providers, ones which do STARTTLS only(❌), ones which offer SMTPS(✅) and ones which use some other secure method of connection(✅).

**SMTPS Support ✅**
* https://kb.mailbox.org/display/BMBOKBEN/Setup+other+e-mail+clients+manually
* https://mailfence.com/en/faq.jsp
* https://posteo.de/en/help/how-do-i-set-up-posteo-in-an-email-client-pop3-imap-and-smtp
* https://help.runbox.com/connection-encryption-ssl-tls-starttls/ - they need to update their documentation as this is not strictly correct anymore since [RFC 8314 - January 2018](https://tools.ietf.org/html/rfc8314#section-7.3)

> Port 465 was only officially designated a secured port for mail submission (SMTPS) for a short period, and it is now considered a “legacy” port. Although many email programs and email services (like Runbox) support mail submission on port 465 using TLS/SSL, it is not officially designated for that any longer, and so sometimes compatibility may be an issue or you may find it referred to as a “legacy” port.

**STARTTLS Only ❌**
* https://howto.disroot.org/en/email/email-clients
* https://kb.kolabnow.com/documentation/generic-imap-client-setup-guide
* https://support.startmail.com/index.php?/Knowledgebase/Article/View/751/0/server-addresses

**Some other secure method ✅ **
* https://protonmail.com/bridge - you use SMTP to a local piece of software which does the remote connection - or use their app.
* https://tutanota.uservoice.com/knowledgebase/articles/470761-can-i-retrieve-my-tutanota-emails-via-imap-to-anot - must have their app IMAP/SMTP(S) not supported and [won't be added](https://tutanota.uservoice.com/forums/237921-general/suggestions/6895110-external-imap-pop3-connection).

I'm going to update the Great/Good category to say that a DMARC policy **must be included** but may be not enforced ie `p` may be `none`, `quarantine` or `reject`. One of the providers has pointed out to me this causes issues with mailing lists.

https://dmarc.org/wiki/FAQ#Is_there_special_handling_required_to_receive_DMARC_email_from_mailing_lists.3F

We may decide once [arc-spec](http://arc-spec.org) is finalized and turned into a RFC to revisit this.

https://en.wikipedia.org/wiki/Authenticated_Received_Chain
https://datatracker.ietf.org/doc/draft-ietf-dmarc-arc-protocol/

|                 | Response | [DNSSEC](https://en.wikipedia.org/wiki/Domain_Name_System_Security_Extensions) | [CAA](https://tools.ietf.org/html/rfc6844) | TLS Errors | [MTA-STS](https://tools.ietf.org/html/rfc8461) | [TLS-RPT](https://tools.ietf.org/html/rfc8460) | [DANE](https://en.wikipedia.org/wiki/DNS-based_Authentication_of_Named_Entities) | [DANE](https://en.wikipedia.org/wiki/DNS-based_Authentication_of_Named_Entities) (Custom) | [DKIM](https://en.wikipedia.org/wiki/DKIM) | [DKIM](https://en.wikipedia.org/wiki/DKIM) (Custom) | [DMARC](https://en.wikipedia.org/wiki/DMARC) | Server Suite Pref. | [SMTPS](https://en.wikipedia.org/wiki/SMTPS) Support | Date for [Deprecate TLSv1.0 & TLS 1.1](https://datatracker.ietf.org/doc/draft-ietf-tls-oldversions-deprecate/) |
|-----------------|----------|--------|-----|------------|---------|---------|------|---------------|------|---------------|-------|--------------------|---------------|--------------------------------------|
| mailbox.org     | ✓        | ✓      | ✓   | ✓          | ✓       | ✓       | ✓    |               | ✓    |               | ✓[1]  |  ✓                 | ✓             |  |
| protonmail.com  | ✓        | ✓      | ✘   | ✓          | ✘       | ✘       | ✓    |               | ✓    |               | ✓     |  ✓                 | ✓             |  |
| tutanota.com    | ✓        | ✓      | ✘   | ✓          | ✘       | ✘       | ✓    |               | ✓    |               | ✓[1]  |  ✓                 | ✓[2]          |  |
| disroot.org     | ✓        | ✓      | ✘   | ✘[3]       | ✘       | ✘       | ✘    |               | ✓    |               | ✓[1]  |  ✘                 | ✘             |  |
| posteo.de       | ✘        | ✓      | ✓   | ✓          | ✓       | ✘       | ✓    |               | ✓    |               | ✓[1]  |  ✓                 | ✓             |  |
| mailfence.com   | ✘        | ✘      | ✓   | ✘[4]       | ✘       | ✘       | ✘    |               | ✓    |               | ✓     |  ✘                 | ✓             |  |
| runbox.com      | ✓        | ✘      | ✘   | ✘[4]       | ✘       | ✘       | ✘    |               | ✓    |               | ✓[1]  |  ✘                 | ✓             |  |
| startmail.com   | ✓        | ✘      | ✓   | ✘[4]       | ✘       | ✘       | ✘    |               | ✓    |               | ✘     |  ✘                 | ✘             |  |
| kolabnow.com    | ✓        | ✓      | ✓   | ✘[5]       | ✘       | ✘       | ✓    |               | ✓    |               | ✓     |  ✓                 | ✘             |  |

(Custom = means custom domain support)

[1] Rule exists, not enforced
[2] Custom software: https://tutanota.com/faq/#imap
[3] Insecure anonymous suites supported, Insecure key exchange detected, Reconfigure server to use forward secrecy and authenticated encryption  (numerous)
[4] Reconfigure server to use forward secrecy and authenticated encryption
[5] Weak key exchange, Key exchange length: 1024, Key exchange algorithm: `DHE_RSA`, Example suite: `TLS_DHE_RSA_WITH_AES_256_CBC_SHA`

@tya99

I really appreciate the effort put into compiling this! Would it be possible to add client-side encryption to the table?

> @tya99
> 
> I really appreciate the effort put into compiling this! Would it be possible to add client-side encryption to the table?

Do you mean end-to-end encryption like PGP?

The reason this is not added is because no provider "stops" you from using PGP.

I do recognize some decide to handle that server-side but that comes at the cost of giving those providers your private keys, and all the public keys in your keyring which really defeats the purpose of end-to-end encryption. I discussed this in the bottom of https://github.com/privacytoolsIO/privacytools.io/issues/603#issuecomment-440197954.

I don't feel we should penalize providers who refer users to installing a mail client that provides pgp encryption as opposed to offering it themselves.

The latter part of that message refers to legislation such as the [Assistance and Access Bill](https://en.wikipedia.org/wiki/Mass_surveillance_in_Australia#Assistance_and_Access_Bill) that recently came into force in Australia. The specific part which is explained rather nicely in [this article](https://www.zdnet.com/article/whats-actually-in-australias-encryption-laws-everything-you-need-to-know/).

> - Technical Assistance Notices (TAN), which are compulsory notices for a "designated communication provider" to use an interception capability they already have;
> - Technical Capability Notices (TCN), which are compulsory notices for a designated communication provider to build a new interception capability, so that it can meet subsequent Technical Assistance Notices; and
> - Technical Assistance Requests (TAR), which are "voluntary" requests, but which have been [described by experts](https://www.zdnet.com/article/australias-anti-encryption-law-will-merely-relocate-the-backdoors-expert/) as the most dangerous of the three because there was less oversight, at least in the original version of the law.

While we don't recommend any providers "in Australia" as they are a member of the [Five Eyes](https://en.wikipedia.org/wiki/Five_Eyes) it is only a matter of time until other countries follow suite and try to do something similar. If you look around the world, Europe included there has been a clear increase in adoption of  [authoritarianism](https://en.wikipedia.org/wiki/Authoritarianism).

If the provider has **no** ability to decrypt your messages because they do **not** hold the private keys, cannot serve up malicious code to steal them, then there's basically nothing they can do to "comply" with one of these orders. Hopefully this will stop/slow further degradation and chipping away at civil liberties if it will all be for nought anyway.

It would also seem that the security services are keen to exploit key distribution ie the GCHQ's "ghost participant" idea. https://www.justsecurity.org/62114/give-ghost-backdoor/

@tya99 Thank you for the reply, I should have been more specific. There are at least two different features that are useful, neither of which involve the vendor controlling the private key.

- Encrypting non-encrypted messages' content with the user's public key and then storing them in that form. Obviously, it's not possible to verify that the email provider actually deleted the unencrypted version, but having the feature is far better than not having it. Mailbox.org is an example of a provider with this feature.
- Fully encrypting all emails' metadata, content, etc. with the user's public key, again claiming not to store the unencrypted version. I believe that Tutanota and ProtonMail both do this.

I do not agree that any of these things would be discouraging one from using client-side encryption as any other client-side PGP can clearly be used on top of it. The Mailbox.org feature seems particularly nonintrusive and useful.

> - Encrypting non-encrypted messages' content with the user's public key and then storing them in that form. Obviously, it's not possible to verify that the email provider actually deleted the unencrypted version, but having the feature is far better than not having it. Mailbox.org is an example of a provider with this feature.

Mailbox is the only one which has that option. They [also have an option](https://mailbox.org/en/security) to email @secure.mailbox.org. When someone emails this alias TLS is mandatory. If the remote server is unable to initiate a TLS connection Mailbox won't let it fallover to an unencrypted connection.

> - Fully encrypting all emails' metadata, content, etc. with the user's public key, again claiming not to store the unencrypted version. I believe that Tutanota and ProtonMail both do this.

ProtonMail has their custom [bridge software](https://protonmail.com/bridge) which encrypts the mail before it is sent to the ProtonMail. It is only for paying customers.

Tutanota simply doesn't allow IMAP/SMTP and forces you to use their app, or use webmail. This would bother me if I wanted to make an cold storage backup. You can never really know if a provider is going to just "cease to exist".

Unfortunately there is no RFC besides [RFC4880](https://tools.ietf.org/html/rfc4880). The smaller providers don't provide this kind of encryption because it requires engineering specialized software which is expensive. I don't believe this is a good course at all and anything we recommend really should be an RFC. I do understand the source for Tutanota and parts of ProtonMail are open, but without being standardized and being heavily integrated with their other product it is unlikely anyone will adopt it.

These providers are marketing this software as a reason why you should pick them exclusively. The purpose of this research isn't to provide those providers with more customers. I believe that is dangerous and makes them a higher value target by state adversaries as it centralizes email. I think a better approach would be an engineered standard like what FastMail has done with [JMAP](https://jmap.io) or [ARC](http://arc-spec.org).

At the moment Mailbox, Posteo and Disroot all support [DANE](https://en.wikipedia.org/wiki/DNS-based_Authentication_of_Named_Entities), [MTA-STS](https://tools.ietf.org/html/rfc8461) and [TLS-RPT](https://tools.ietf.org/html/rfc8460) and would certainly be my top picks.

I would like to see Tutanota and ProtonMail at least support these. Tutanota only does DANE, which means that when you send email/receive email from Gmail/Outlook users it won't be able to make use of [MTA-STS](https://tools.ietf.org/html/rfc8461). As mentioned in [this link](https://uhxy.com/technology/2018/01/21/DANE-vs-MTA-STS.html) in my original post, a provider really needs to do both.

At the end of this I will be providing a transparency score. Some providers have been very forthcoming with information, while others have been silent or provided nothing but the regular customer service "thank you for your inquiry, but we cannot provide any more information" spiel.

This was also an interesting read https://www.ctrl.blog/entry/protonmail-vs-mailbox

We have been talking to overhaul the email page and ad an criteria list like we did with the vpn page, this would most likely  solve the issue.

> We have been talking to overhaul the email page and ad an criteria list like we did with the vpn page, this would most likely solve the issue.

Yes, I have just updated the table to include Sovrin, they look to be a fairly good provider across the board from what I can see. Also it seems Protonmail has now deployed MTA-STS and TLS-RPT so that's good too.

> We may decide once [arc-spec](http://arc-spec.org) is finalized and turned into a RFC to revisit this.
> 
> https://en.wikipedia.org/wiki/Authenticated_Received_Chain
> https://datatracker.ietf.org/doc/draft-ietf-dmarc-arc-protocol/

It should be noted this now became finalized as of July 2019: https://tools.ietf.org/html/rfc8617

I think from now on we will start to see providers adopting this especially as Google is doing verification for their users.

Updated, looks like proton mail is now fully compliant with our best category. We've got quite a few now in there (5 providers).

@blacklight447-ptio @JonahAragon I like what you've done with the VPN section.

I think we should wait until [March 2020 (in line with TLS 1.0 and 1.1 deprecation in main browsers)](https://github.com/privacytoolsIO/privacytools.io/issues/603#issuecomment-443403963) before publishing as that is a tentative date I told providers we would look at revising that section. Protonmail only recently upgraded their services, so it's possible others may follow suite soon too.

I am going to request an update from the mail providers and let them know we're thinking of shortening the list (like the VPN list) to just the ones which are now compliant. At the time of writing this number now stands at 5 different providers.

I am thinking we might add a bonus badge for providers that support [JMAP](https://jmap.io/) now that the standards have been published [RFC 8620](https://tools.ietf.org/html/rfc8620) and [RFC 8621](https://tools.ietf.org/html/rfc8621).

- https://fastmail.blog/2019/08/16/jmap-new-email-open-standard/
- https://www.atmail.com/blog/how-does-jmap-make-email-better/
- https://unencumberedbyfacts.com/2019/01/24/jmap-its-like-imap-but-not-really/
- https://fastmail.blog/2018/12/27/jmap-is-on-the-home-straight/
- https://mailarchive.ietf.org/arch/msg/imapext/wFxgIvlfweBFlgcDDZf9la6j8lg
- https://fastmail.blog/2015/12/23/the-jmap-momentum-builds/

Currently there's not much in the way of [client support](https://jmap.io/software.html) although I expect that to change now that the standards are finalized. K-9 has said that they are looking at implementing support soon https://github.com/k9mail/k-9/issues/3272#issuecomment-528326161 and hopefully Thunderbird will too https://bugzilla.mozilla.org/show_bug.cgi?id=1322991. I am quite curious myself how well JMAP support would work with ProtonMail's bridge, particularly in regard to the bandwidth usage.

Unfortunately nobody except for [Fastmail](https://www.fastmail.com/) supports JMAP and they operate in and from a [FVEY country](https://en.wikipedia.org/wiki/Five_Eyes). 

The [The Authenticated Received Chain (ARC) Protocol](http://arc-spec.org/) also has gone into RFC status as [RFC 8617](https://tools.ietf.org/html/rfc8617). Many more providers have announced support for that, currently Google and Fastmail do verification for it. So we may provide an additional reward badge for providers that support this in the future too.

@tya99 would you perhaps want to collaborate with us on a PR for the mail section overhaul?

@tya99 would you perhaps want to collaborate with us on a PR for the mail section overhaul?

sure, seeing as I've done all the research/contact.

@tya99 excellent, I just wanted to make sure, as we can't go on expecting everyone to worm with/for us just because they open well informed issues :). In any case I'm glad that you want to help out.

> > @tya99 would you perhaps want to collaborate with us on a PR for the mail section overhaul?
> 
> sure, seeing as I've done all the research/contact.

@dngray will be handling this from here on out.